[submodule "roles/nextcloud_client"]
	path = roles/nextcloud_client
	url = https://github.com/oxivanisher/role-nextcloud_client.git
[submodule "roles/ubuntu_hide_amazon_link"]
	path = roles/ubuntu_hide_amazon_link
	url = https://github.com/oxivanisher/role-ubuntu_hide_amazon_link.git
[submodule "roles/gnome_disable_inital_setup"]
	path = roles/gnome_disable_inital_setup
	url = https://github.com/oxivanisher/role-gnome_disable_inital_setup.git
[submodule "roles/gnome_loginscreen_configure"]
	path = roles/gnome_loginscreen_configure
	url = https://github.com/oxivanisher/role-gnome_loginscreen_configure.git
[submodule "roles/vivaldi"]
	path = roles/vivaldi
	url = https://github.com/oxivanisher/role-vivaldi.git
[submodule "roles/howdy"]
	path = roles/howdy
	url = https://github.com/oxivanisher/role-howdy.git
[submodule "roles/keepassxc"]
	path = roles/keepassxc
	url = https://github.com/oxivanisher/role-keepassxc.git
[submodule "roles/kodi"]
	path = roles/kodi
	url = https://github.com/oxivanisher/role-kodi.git
[submodule "roles/nas_mounts"]
	path = roles/nas_mounts
	url = https://github.com/oxivanisher/role-nas_mounts.git
[submodule "roles/signal_desktop"]
	path = roles/signal_desktop
	url = https://github.com/oxivanisher/role-signal_desktop.git
[submodule "roles/sublime"]
	path = roles/sublime
	url = https://github.com/oxivanisher/role-sublime.git
[submodule "roles/vscode"]
	path = roles/vscode
	url = https://github.com/oxivanisher/role-vscode.git
[submodule "roles/fonts"]
	path = roles/fonts
	url = https://github.com/oxivanisher/role-fonts.git
[submodule "roles/wol"]
	path = roles/wol
	url = https://github.com/oxivanisher/role-wol.git
[submodule "roles/spotify"]
	path = roles/spotify
	url = https://github.com/oxivanisher/role-spotify
[submodule "roles/google_chrome"]
	path = roles/google_chrome
	url = https://github.com/oxivanisher/role-google_chrome
[submodule "roles/obsidian"]
	path = roles/obsidian
	url = https://github.com/oxivanisher/role-obsidian.git
[submodule "roles/ubuntu_update_manager"]
	path = roles/ubuntu_update_manager
	url = https://github.com/oxivanisher/role-ubuntu_update_manager.git
[submodule "roles/prusaslicer"]
	path = roles/prusaslicer
	url = https://github.com/oxivanisher/role-prusaslicer.git
[submodule "roles/flatpak_update"]
	path = roles/flatpak_update
	url = https://github.com/oxivanisher/role-flatpak_update.git
[submodule "roles/element"]
	path = roles/element
	url = https://github.com/oxivanisher/role-element.git
