[submodule "roles/nextcloud_client"]
	path = roles/nextcloud_client
	url = https://github.com/oxivanisher/role-nextcloud_client.git
[submodule "roles/ubuntu_hide_amazon_link"]
	path = roles/ubuntu_hide_amazon_link
	url = https://github.com/oxivanisher/role-ubuntu_hide_amazon_link.git
[submodule "roles/gnome_disable_inital_setup"]
	path = roles/gnome_disable_inital_setup
	url = https://github.com/oxivanisher/role-gnome_disable_inital_setup.git
[submodule "roles/gnome_loginscreen_configure"]
	path = roles/gnome_loginscreen_configure
	url = https://github.com/oxivanisher/role-gnome_loginscreen_configure.git
[submodule "roles/vivaldi"]
	path = roles/vivaldi
	url = https://github.com/oxivanisher/role-vivaldi.git
